.container {
  margin: 0 auto;
  width: 380px;
}

.footer {
  margin-top: 10px; /* Replace with actual value */
  text-align: center;
  width: 100%;
}

.forgotPassword {
  float: right;
}

.header {
  margin-bottom: 10px; /* Replace with actual value */
}

.section {
  align-items: center;
  background-color: #f5f5f5; /* Replace with actual value */
  display: flex;
  height: 100vh; /* Replace with actual value */
  padding: 10px 0; /* Replace with actual value */
}

.text {
  color: #333; /* Replace with actual value */
}

.title {
  font-size: 20px; /* Replace with actual value */
}
