.title {
  font-family: BaeMinJua, serif;
  text-align: start;
}

.card {
  background-color: magenta;
}

.bg-color {
  background-color: #27BEB8;
}

.cardIcon {
  font-size: 100px;
}

.cardExtra {
  color: whitesmoke;
  font-size: 18px;
  font-family: BaeMinJua, serif;
}
