#root {
  text-align: center;
}

.card {
  padding: 2em;
}

/* sider */
.sider {
  height: 100vh;
  position: sticky !important;
  top: 0;
  bottom: 0;
  left: 0;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sider-trigger {
  font-size: 16px;
  width: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  transition: color 0.3s;
}

/* header */
.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
}

.topbar {
  margin: 0 0 0 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* content */
.content {
  margin: 24px 16px;
  padding: 20px;
}

/* form */
.auth-form {
  gap: 10px;
  min-width: 400px;
  max-width: 600px;
}
